<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="map-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Localisation </h2>
      <p class="text-center">La Géolocalisation des Cameras de Surveillance de la ville de Dakar ! </p>
      <div class="carte">
        <!--le carte a afficher  -->
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>







