div{
    width: 1300px;
    height: 650px;
}
.carte{
    position: relative;
    padding: 2%;
}
h1{
    text-align: center;
    padding: 10px
}
body
{
    background-image: url("../../assets/video/cam.jpg") !important;
    background-repeat: no-repeat;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
